asttokens 
Brotli 
comm 
contourpy 
cycler 
debugpy 
decorator 
exceptiongroup 
executing 
fonttools 
importlib_metadata 
ipykernel 
ipython 
ipython_pygments_lexers 
jedi 
jupyter_client 
jupyter_core 
kiwisolver 
matplotlib==3.10.0
matplotlib-inline
nest_asyncio 
numpy 
packaging 
parso 
pexpect 
pickleshare 
pillow 
platformdirs 
prompt_toolkit 
psutil 
ptyprocess 
pure_eval 
Pygments 
pyparsing 
PyQt6==6.7.1
PyQt6_sip 
python-dateutil
pyzmq 
setuptools==72.1.0
sip 
six 
stack_data 
tornado 
traitlets
typing_extensions
wcwidth
wheel==0.45.1
zipp
